.log
*.iml
*.ipr
*.iws
*.plan
*.swp

.terraform/
*/**/.terraform*
*/terraform.tfvars
*/**/*.tfvars
*/**/*.terraform.tfstate
*/**/terraform.*

# user specific configuration, that overrides .tfswitchrc
.tfswitch.toml
